@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --first: rgb(255, 108, 40);
  --second: gray;
  --third: rgb(35, 35, 77);
  --fourth: rgb(255, 145, 0);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  position: absolute;
  z-index: 1;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-nav {
  width: 50rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-nav img {
  height: 3rem;
}

.right-nav {
  margin-left: 8rem;
  position: relative;
  text-align: left;
  width: 40%;
  line-height: 3;
}

.navbar > li > a {
  color: var(--second);
  text-decoration: none;
}

.navbar > li > a:hover {
  color: rgb(255, 166, 0);
  text-decoration: none;
}

.navbar li:first-child {
  border-bottom: 2px solid orange;
  font-weight: 600;
}

.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 14rem;
  right: -20px;
  top: 4em;
  height: 18rem;
  background-color: rgba(27, 27, 27, 0.8);
  display: none;
}

.navbar {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar > .nav {
  background-color: transparent;
}

.dropdown a {
  font-size: 1rem;
}

.navbar > .nav {
  list-style: none;
  padding: 0 3rem;
}
.right-nav i {
  display: inline-block;
  font-size: 1.5rem;
  padding: 10px 15px;
}

#hamburger:hover .dropdown {
  display: flex;
}

.fa-bars:active .dropdown {
  display: flex;
}

/* SOCIAL MEDIA */

.social-media {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.social-media img {
  height: 2rem;
}

#hamburger {
  color: rgb(177, 13, 13);
}

/*  basket */

.basket img {
  height: 1.5rem;
}

.basket img:hover {
  color: red;
}
/* tablet */

@media screen and (min-width: 768px) {
  .header {
    width: 65%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: inherit;
    padding-right: 1rem;
    margin: 0 auto;
  }
  .left-nav {
    width: 40%;
    height: 100%;
    position: inherit;
  }

  .left-nav img {
    height: 5rem;
  }

  .right-nav {
    width: 60%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
  }

  .dropdown {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    position: inherit;
  }

  .social-media a {
    font-size: 2rem;
  }

  #hamburger {
    display: none;
  }

  .navbar {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
  }

  .navbar > .nav {
    padding: 0;
    background-color: transparent;
  }

  .navbar > li {
    background-color: transparent;
  }

  .navbar li a {
    font-size: 0.7rem;
  }

  .social-media {
    width: 23%;
  }

  .social-media > a > i {
    padding: 0;
    margin: 0;
  }

  .social-media a {
    font-size: 1rem;
    padding: 0;
  }

  .order {
    width: 15%;
  }
}

/* desktop */

@media screen and (min-width: 1200px) {
  header {
    max-width: 1470px;
    justify-content: space-around;
  }

  .dropdown {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .navbar {
    width: 60%;
  }

  .social-media a {
    font-size: 2rem;
  }

  .navbar > li > a {
    font-size: 1rem;
  }

  .social-media > a > .fab {
    font-size: 1.5rem;
  }

  .order {
    margin: 0;
    padding: 0;
  }

  .order-button {
    margin-left: 2.5rem;
  }
}

/* 720 screen */

@media screen and (max-width: 1366px) {
  .left-nav img {
    height: 2.5rem;
  }

  .navbar li a {
    font-size: 0.8rem;
  }

  .social-media img {
    height: 1.8rem;
  }

  .basket img {
    height: 1rem;
  }
}
