@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

:root {
  --first: rgb(255, 108, 40);
  --second: gray;
  --third: rgb(35, 35, 77);
  --fourth: rgb(255, 145, 0);
  --fifth: rgb(252, 195, 72);
  --sixth: rgb(53, 37, 107);
}

.all-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
}

.all-main h2 {
  font-size: 3rem;
  opacity: 0.4;
  padding: 0;
  margin: 0;
  color: var(--fourth);
}

#pizza-menu {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(74, 108, 139, 0.2) 100%
  );
  border-right: 5px solid rgba(79, 114, 160, 0.3);
  border-top: 5px solid rgba(79, 114, 160, 0.3);
  border-left: 1px solid rgba(117, 117, 117, 0.1);
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  width: 40%;
  border-radius: 2rem;
}

#pizza-menu h4,
#pizza-menu label {
  margin: 1rem 0;
}

.preview-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#pizza-menu select {
  width: 10rem;
}

select option:focus,
select option:active,
select option:hover {
  background-color: var(--first);
}

#new-pizza-form {
  width: 50%;
  color: black;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-right: 5px solid rgba(79, 114, 160, 0.3);
  border-top: 5px solid rgba(79, 114, 160, 0.3);
  border-left: 1px solid rgba(117, 117, 117, 0.1);
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(74, 108, 139, 0.2) 100%
  );
  border-radius: 2rem;
  padding: 1rem 0;
}

#new-pizza-form h4,
#pizza-menu h4 {
  color: var(--third);
  font-weight: 800;
  opacity: 0.4;
  font-size: 2.5rem;
}

.labels-toppings {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  width: 100%;
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
}

.labels label {
  margin: 1rem 0;
}

.toppings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 40%;
}
.toppings label,
.toppings input {
  margin: 0.5rem 0;
}

.topping {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topping input {
  margin-right: 1rem;
}

#toppings {
  font-size: 2rem;
  color: var(--first);
  font-family: "Dancing Script", cursive;
  margin-bottom: 1rem;
}

#new-pizza-form input,
#pizza-menu select {
  width: 15rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid var(--second);
  padding-left: 1rem;
  color: var(--second);
}

#heat,
#photo {
  width: 15rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  color: var(--second);
}

/* checkboxes */
#new-pizza-form input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
}

#new-pizza-form input[type="checkbox"]:checked {
  filter: invert(100%) hue-rotate(190deg);
}

#new-pizza-form button {
  background-color: var(--fourth);
  height: 2.2rem;
  width: 8rem;
  border-radius: 1rem 1rem 0 1rem;
  border: none;
  color: white;
  margin-right: 2rem;
  cursor: pointer;
}

#new-pizza-form button:hover {
  background-color: var(--third);
  color: var(--fifth);
}

/*! Pizzas list */
#output {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  color: white;
}

/*! Modal Window */
#confirm {
  z-index: 2;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  color: white;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 2.5rem;
  flex-wrap: wrap;
}

#confirm button {
  font-size: 2.5rem;
}

/* Footer */
footer {
  text-align: center;
}

.hand-fingers {
  position: absolute;
  height: 20rem;
  bottom: 0%;
  left: 20%;
}

/* absolute food images */

.food-image {
  position: absolute;
  height: 6rem;
}

.mushrooms {
  left: 3%;
  height: 10rem;
  filter: blur(0.1rem);
}

.blue-cheese {
  bottom: 2%;
  right: 35%;
  height: 12rem;
  filter: blur(0.1rem);
}

.garlic {
  right: 13%;
  top: 12%;
  height: 8rem;
}

.onions {
  bottom: 10%;
  right: 2%;
  height: 10rem;
}

.spinach {
  top: 20%;
  right: 55%;
}
